<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TagLet | Girihlet</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css" /> 
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="csslib/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="csslib/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="csslib/animate.min.css" />
<link rel="stylesheet" type="text/css" href="csslib/bootstrap-switch.min.css" />

<link rel="stylesheet" type="text/css" href="csslib/checkbox3.min.css" />
<link rel="stylesheet" type="text/css" href="csslib/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="csslib/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="csslib/select2.min.css" />

<link rel="stylesheet" type="text/css" href="csslib/style.css" />
<link rel="stylesheet" type="text/css" href="csslib/flat-blue.css" />

<!-- <link rel="stylesheet" href="csslib/comman.css"></link> -->
<link rel="stylesheet" href="csslib/comman_for_qc.css"></link>

<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>
</head>

<body class="flat-blue mainDivColor" onload="onloadForBody();">
	<span style="display: none" id="myio" th:text="${server}"></span>
	<span style="display: none" id="myMaxMemory" th:text="${maxMerory}"></span>
	<span style="display: none" id="myRam" th:text="${ram}"></span>
	<span style="display: none" id="userId" th:text="${userId}"></span>
	<span style="display: none" id="userDir" th:text="${userDir}"></span>
	
	<span style="display: none" id="myuserName" th:text="${userName}"></span>
	<span style="display: none" id="mydesignation" th:text="${designation}"></span>
	<span style="display: none" id="myinstitute" th:text="${institute}"></span>
	<span style="display: none" id="myaddress" th:text="${address}"></span>
	
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog" role="document">
			<img class="" src="images/spinner.gif" alt="er"></img>
		</div>
	</div>
	<div class="modal fade" id="selectFile" role="dialog">
		<div class="modal-dialog">
			Modal content
			<div class="modal-content textColorForBrowseText">
				<div class="modal-header">
					<div class="container-fuild textColorForBrowseText">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title colorTextFile textColorForBrowseText">Files From Server.</h4>
						<h6 class="modal-title colorTextFile textColorForBrowseText">Please double click to select.</h6>
					</div>
				</div>
				<div class="modal-header">
					<div class="container-fuild textColorForBrowseText" id="headerNavigatorId">
						<span id="aTagHomeId"> <a href='#'>Home</a> <span
							class="glyphicon glyphicon-chevron-right"></span>
						</span>
					</div>
				</div>
				<div class="modal-body modal-scroll">
					<div class="container-fuild">
						<form class="form-horizontal textColorForBrowseText" id="divSubCategorydmd"></form>
					</div>
				</div>
				<div class="modal-footer">
					<div class="container-fuild">
						<form>
							<div class="form-group">
								<label class="control-label col-sm-2 col-lg-2 classLocation">Location </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="valueSelectedDseq" readonly="readonly" disabled="disabled" />
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-10 classPaddingTop">
									<button type="button" class="btn btn-default textFormatForBrowseButton" id='createFolderBtn'>Create Folder</button>
									<button type="button" class="btn btn-default textFormatForBrowseButton" id="openBtnDialog">Open</button>
									<button type="button" id="closeFileModel" class="btn btn-default textFormatForBrowseButton" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="app-container" id="idAppContainerDiv">
		<div class="row content-container">
			<nav class="navbar navbar-default navbar-fixed-top navbar-top">
				<div class="container-fluid colorForhorizontalBar">
					<div class="navbar-header">
						<button type="button" class="navbar-expand-toggle">
							<i class="fa fa-bars icon"></i>
						</button>
						<ol class="breadcrumb navbar-breadcrumb">
							<li>TagLet</li>
							<li class="active">Fill TagLet Input Form</li>
							<li class="active">TagLet-v1.0</li>
						</ol>
						<button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-th"></i>
						</button>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-times icon"></i>
						</button>
						<li class="profile"><a href="http://girihlet.com/" target="_blank">Girihlet Non-Canonical Genomics Company</a></li>
						<li class="dropdown profile">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="userDivName"><span th:text="${userName}"></span> 
							<span class="caret"></span></a>
								<ul class="dropdown-menu animated fadeInDown">
								<li>
									<div class="profile-info">
										<h4 class="username" id="userDivOnlyName">	<span id="userName"  th:text="${userName}"></span></h4>
										<p id="userDivEmail"><span  id="userEmail" th:text="${userEmail}"></span></p>
										<div class="btn-group margin-bottom-2x" role="group">
											<button type="button" class="btn btn-default bgColorForButton" onclick="logoutUser();">
												<i class="fa fa-sign-out"></i> Logout
											</button>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<div class="side-menu sidebar-inverse" id="idForSideMenuDiv">
				<nav class="navbar navbar-default" role="navigation">
					<div class="side-menu-container">
						<div class="navbar-header colorForNavHeader">
							<a class="navbar-brand" th:href="@{/introduction?userid=}+${userId}">
								<div class="icon fa fa-paper-plane"></div>
								<div class="title">
									<h3 class="colorForGirihLetName">GirihLet</h3>
								</div>
							</a>
							<button id="buttonForSideMenuDiv" type="button"
								class="navbar-expand-toggle pull-right visible-xs">
								<i class="fa fa-times icon"></i>
							</button>
						</div>
						<ul class="nav navbar-nav">
							<li class="panel panel-default dropdown">
								<a data-toggle="collapse" href="#dropdown-qc">
									<span class="icon fa fa-line-chart"></span>
									<span class="title">Run Raw Data Quality Control</span>
								</a>
								<div id="dropdown-qc" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a id="idHrefqc454"  href="../qc454">Long Read [ 454 / Ion Torrent ] </a></li>
											<li><a id="idHrefIllumina"  href="../qcillumina">Short Read [ Illumina ]</a></li>
											<li><a id="idHrefQCReport" href="../qcreport">QC Report Generation</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="panel panel-default dropdown">
								<a id="hRefRunModule1"  href="../TagLet"> 
									<span class="icon fa fa-tag"></span>
									<span class="title">Run TagLet</span>
								</a>
								<!-- <div id="dropdown-module1" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a id="hRefRunModule1"  href="../TagLet">Fill TagLet Input Form</a></li>
										</ul>
										<a id="hRefRunModule1"  href="../TagLet">Fill TagLet Input Form</a>
									</div>
								</div> -->
							</li>
							<li class="panel panel-default dropdown">
								<a id="idHrefInstances" href="../ResultSummary"> <span
									class="icon fa fa-history"></span>
									<span class="title">Show Result Summary</span>
								</a>  
								<!-- <div id="dropdown-example" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a  id="idHrefInstances" href="../ResultSummary">Show Result Summary</a></li>
											<li><a id="idHrefReports" href="../reports">Reports</a></li>
										</ul>
									</div>
								</div> -->
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="side-body padding-top">
				<div class="container-fluid">
					<div id="firstProgDiv">
						<div class="row">
							<div class="col-lg-10 col-lg-offset-2 col-sm-8 col-sm-offset-2" id="forms">
								<div id="FirstProgFormDiv">
									<form class="form-horizontal" id="firstProgForm">
										<div class="form-group">
											<label class="control-label col-sm-4  col-lg-4 textClass required">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Enter Process Name:
												<span></span>
											</label>
											<div class="col-sm-6 col-lg-6">
												<input type="text" class="form-control" id="idProjectName" placeholder="Process Name"></input>
												<!-- onblur="warningForEmptyField('idProjectName');" -->
											</div>
										</div>
										
										<div id="divHideBackgroundInfo" style="display: none;">
										<div class="form-group">
											<label class="control-label col-sm-4  col-lg-4 textClass test required"
												for="pwd">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Scientist Name:
												<span></span>
											</label>
											<div class="col-sm-6 col-lg-6" id="sciName">
												<input type="text" class="form-control" 
													id="idScientistName"
													placeholder="Scientist Name"></input>
													<!-- onblur="warningForEmptyField(this.id, 'sciName')" -->
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4  col-lg-4 textClass test required"
												for="pwd">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Designation:
												<span></span>
											</label>
											<div class="col-sm-6 col-lg-6" id="affiliation">
												<input type="text" class="form-control" 
													id="idSpecialization"
													placeholder="Designation"></input>
													<!-- onblur="warningForEmptyField(this.id, 'Designation')" -->
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4  col-lg-4 textClass test required"
												for="pwd">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Institute Name:
												<span></span>
											</label>
											<div class="col-sm-6 col-lg-6" id="affiliation">
												<input type="text" class="form-control" 
													id="idInstituteName"
													placeholder="Institute Name"></input>
												<!-- onblur="warningForEmptyField(this.id, 'Institute Name')" -->
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4  col-lg-4 textClass test required"
												for="pwd">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Address:
												<span></span>
											</label>
											<div class="col-sm-6 col-lg-6" id="address">
												<textarea class="form-control" 
													id="idAddress"
													placeholder="Address" rows="3"></textarea>
													<!-- onblur="warningForEmptyField(this.id, 'address')" -->
											</div>
										</div>
										</div>
										
										<!-- <div class="form-group">
											<label class="control-label col-sm-6 textClass colorTextClass" for="pwd">Processing Options: </label>
											<div class="col-sm-4 col-lg-4"> </div>
										</div> -->
										<div class="form-group">
	 										<label class="control-label col-sm-4 col-lg-4 textClass" for="pwd">
		 										<span class=" glyphicon glyphicon-question-sign iconSmallClass textClass"
													data-placement="left" data-html="true"
													data-toggle="tooltip"
													title="This option enable process mode, either DNA or mRNA.">
												</span>
												&nbsp;
												Process Mode:
		 						 			</label>							 
											<div class="col-sm-6 col-lg-6">
												<select class="form-control" id="processMode"> <!-- onchange="onchangeProcessMode(this);" -->
													<option value="DNA" selected = "selected">DNA</option>
													<option value="mRNA">mRNA</option>
												</select>
											</div>						
										</div>
										<div class="form-group" id="idForTruncationDiv">
	 										<label class="control-label col-sm-4 col-lg-4 textClass" for="pwd">
		 										<span class=" glyphicon glyphicon-question-sign iconSmallClass textClass"
													data-placement="left" data-html="true"
													data-toggle="tooltip"
													title="This option enables whether you want to perform truncation or not.">
												</span>
												&nbsp;
		 										Truncate Option:
		 						 			</label>							 
											<div class="col-sm-6 col-lg-6">
												<select class="form-control" id="truncation">
													<option value="1" selected = "selected">Yes</option>
													<option value="0">No</option>
												</select>
											</div>
										</div>
										<div class="form-group" id="RepeateFilterDiv">
	 										<label class="control-label col-sm-4 col-lg-4 textClass" for="pwd">
		 										 <span class=" glyphicon glyphicon-question-sign iconSmallClass textClass"
													data-placement="left" data-html="true"
													data-toggle="tooltip"
													title="This option will enable the program to filter repeats of specified length.">
												</span>
												&nbsp;
		 										 Repeat Filter Option:
		 						 			</label>							 
											<div class="col-sm-6 col-lg-6">
												<select class="form-control" id="repeatFilter" onchange="onChangeOptionRepeatFilteration(this);">
													<option value="1" selected = "selected">Yes</option>
													<option value="0">No</option>
												</select>
											</div>						
										</div>
										<div class="form-group" id="repeatSeqLengthDiv">
	 										<label class="control-label col-sm-4 col-lg-4 textClass required" for="pwd">
		 										 <span class=" glyphicon glyphicon-question-sign iconSmallClass textClass"
													data-placement="left" data-html="true"
													data-toggle="tooltip"
													title="If Repeat filter option is set to 'yes' then only this field will enable. 
															Here you have to specify the length of repeat (in integer) to be filtered. Typical value is 20 and 0 means no filtering.">
												</span>
												&nbsp;
		 										 Repeat Sequence Length:
		 						 			</label>
											<div class="col-sm-6 col-lg-6">
												<input type="text" onkeypress="return isNumber(event,this,300);" min="1" class="form-control" id="repeatLength" placeholder="Length Of Repetative Sequence For Filtering"></input>
												<!-- onblur="warningForEmptyField('outputPrefix');" -->
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4 col-lg-4 textClass required">
												<span class=" glyphicon glyphicon-question-sign iconSmallClass textClass"
													data-placement="left" data-html="true"
													data-toggle="tooltip"
												title="Here you have to specify the output file name, 
														Whatever text your are providing here will be used as output file name as it is.">
												</span>
												&nbsp;
												Output File Name:
											</label>
											<div class="col-sm-6 col-lg-6">
												<input type="text" class="form-control" id="outputPrefix" placeholder="Prefix For Output File Name"></input>
												<!-- onblur="warningForEmptyField('outputPrefix');" -->
											</div>
										</div>
										<div class="form-group" id="selectInputFile">
											<label class="control-label col-sm-4  col-lg-4 textClass required" for="pwd" id="idlableLongRead">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Browse Input File:
											</label>
											<div class="col-sm-6 col-lg-6">
												<input type="button" class="col-sm-4  col-lg-4  btn-file "
													data-toggle="modal" data-target="#selectFile"
													placeholder="Select Long file"
													id='idSelectFileBrowse'
													onclick="getAllDirectory('idInputSelectFile','fasta,fasta_filtered');"
													accept=".fa" value="BROWSE..."></input>
												<div id="idInputSelectFile"
													class="col-sm-6 col-lg-6 text-left">No file selected</div>
											</div>
										</div>
										<div class="form-group" id="selectOutputFolder">
											<label class="control-label col-sm-4  col-lg-4 textClass required" for="pwd" id="idlableLongRead">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Browse Output Folder:
											</label>
											<div class="col-sm-6 col-lg-6">
												<input type="button" class="col-sm-4  col-lg-4  btn-file "
													data-toggle="modal" data-target="#selectFile"
													placeholder="Select Long file"
													id='idSelectFolderBrowse'
													onclick="getAllDirectory('idSelectOutputFolder','diretory');"
													accept=".fa" value="BROWSE..."></input>
												<div id="idSelectOutputFolder" class="col-sm-6 col-lg-6 text-left">No folder selected</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-4 col-sm-4">
												<a class="btn btn-default bgColorForButton bgColorForButton1" onclick="submitForm();">Submit</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div id="divShowCustomReportPdf" class="row">
						<iframe src="" id="iframeCustomReport" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
							<p>It appears your web browser doesn't support iframes.</p>
						</iframe>
					</div>
					<!-- <div class="col-lg-12 " id="idResultTable">
						<div class=" panel-default divClassInstancesCmd">
							<div class="panel-body ">
								<h3>Table 1. Program Result / Output Summary</h3>
								<br/>
								<div class=" rowClassTable">
									<table id="resultTable" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 6%; font-size: 18px;">Rows</th>
												<th style="font-size: 18px; ">Attributes</th>
												<th style="font-size: 18px;">Values</th>
											</tr>
										</thead>
										<tbody id="tableBodyResultSummary">
										</tbody>
									</table>
								</div>
								<br/>
								<h3>Figure 1. Pie Chart For Base Composition Summary</h3>
								<br/>
								<div id="chartdiv">
								</div>
							</div>
						</div>
					</div> -->
					<div class="row" style="display: none;" align="center" id="illuminaQcCmd">
						<pre id="illuminaQcCmdOutput" class="helpClass text-left textForInstaceLog">
            		</pre>
				</div>
				</div>
			</div>
		</div>
		<footer class="app-footer">
			<div class="wrapper">
				<span class="pull-right">1.0 <a href="#"> <!-- <i class="fa fa-long-arrow-up"></i> -->GirihLet
				</a></span>GirihLet© 2016 Copyright.
			</div>
		</footer>
	</div>
	
	<!-- Javascript Libs -->
	<script type="text/javascript" src="jslib/jquery.min.js"></script>
	<script type="text/javascript" src="jslib/jquery.js"></script>
	<script type="text/javascript" src="jslib/bootstrap.min.js"></script>
	<script type="text/javascript" src="jslib/bootstrap-switch.min.js"></script>
	<script type="text/javascript" src="jslib/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="jslib/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="jslib/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="jslib/select2.full.min.js"></script>
	<script type="text/javascript" src="jslib/ace/ace.js"></script>
	<script type="text/javascript" src="jslib/ace/mode-html.js"></script>
	<script type="text/javascript" src="jslib/ace/theme-github.js"></script>
	<script type="text/javascript" src="jslib/app.js"></script>
	
	<script src="js/ws_get_attribute_cmd2.js"></script>
	<script src="js/url.js"></script>
	<script src="js/comman.js"></script>
	
	<script src="js/libjslogin/login.js"></script>
	<script src="js/user_js/ws_get_processes.js"></script>
	<script src="js/user_js/ws_get_attribute_cmd.js"></script>
	
	<script src="js/libjs/directory_handling.js"></script>
	<script src="js/libjs/utils.js"></script>
	<script src="js/libjs/file_handling_final.js"></script>
	<script src="js/firstProg/formManagmenAndValidation.js"></script>
	<script src="js/firstProg/submitForm.js"></script>
	
	<!--  Pie Chart Resources -->

<!-- Resources -->
	<!-- <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/pie.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	 -->
	 
	<script src="js/libjschart/amcharts.js"></script>
	<script src="js/libjschart/pie.js"></script>
	<script src="js/libjschart/export.min.js"></script>
	<script src="js/libjschart/light.js"></script>
	<script src="js/libjschart/chalk.js"></script>
	<script src="js/libjschart/dark.js"></script>
	<script src="js/libjschart/patterns.js"></script>
	<script src="js/libjschart/black.js"></script>

</body>
</html>

